<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

     <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 

    <title>UniRooms - Add new Property</title>

    <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map {
            height: 57em;
            width:150em;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #1daa76 !important;">
        <a class="navbar-brand" href="#"><img src="/images/unirooms.jpg" height=30 width=100></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                      <a class="nav-link" href="/profile">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/propertylist">View Properties</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/favourites">My Favourites</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Support tickets
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/newticket">Add new ticket</a>
                              <a class="dropdown-item" href="/mysupporttickets">View my tickets</a>
                          </li>

                    <% if(user.role== "admin"){ %>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Admin options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/addProperty">Add Property</a>
                              <a class="dropdown-item" href="/userlist">View Users</a>
                              <a class="dropdown-item" href="/allsupporttickets">View all support tickets</a>
                              
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/newpoi">Add new POI</a>
                              <a class="dropdown-item" href="/viewallpoi">View all POI</a>
                            </div>
                          </li>
                          <% } %>

          </ul>
          <span class="navbar-text">
              <% if(user.role== "admin"){ %>
                  <b style="color:#aa3f3f">ADMIN</b>
              <% } %>

            <b>Welcome <%= user.firstName %></b>, <%= user.email %> <a href="/logout">logout </a>
          </span>
        </div>
      </nav>

    <div class="container-fluid text-center">
        <div class="row">

                <!--<h3 style="font-size: 3vw;" data-toggle="tooltip" title="This is your current balance."><a href="/increase">Student Accommodation Finder</a></h3> -->
                <div id="map" class="col-sm-6"> </div>
                    <script type="text/javascript">
                      var map;

                      // var contentString = event.feature.getProperty('_id') + "</br>" + event.feature.getProperty('addressL1') + "</br>" + event.feature.getProperty('addressL2') + "</br>" + event.feature.getProperty('city') + "</br>" + event.feature.getProperty('county') + "</br>" + event.feature.getProperty('postcode') + "</br>" + event.feature.getProperty('createdAt') + "</br> " + event.feature.getProperty('$oid') + "<a href='/viewproperty'>More info...</a>";

                      function initMap() {
                        //console.log(user);
                        map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 14,
                          center: new google.maps.LatLng(50.374657,-4.142385),
                          mapTypeId: 'roadmap'
                          });
                        addMarkers(map);
                        };


                        function addMarkers(map){

                            var accomodations = <%-JSON.stringify(accomodation)%>




                            for (i = 0; i < accomodations.length; i++) { 
                                //console.log(accomodations[i]);
                                var houseLoc = {lat: accomodations[i].geometry.coordinates[0], lng: accomodations[i].geometry.coordinates[1]};
                                var point = new google.maps.LatLng(houseLoc.lng, houseLoc.lat);

                                console.log(houseLoc);

                                var content = '<div id="content">' + accomodations[i].properties.addressL1 + '</br>' + accomodations[i]._id + '</br>' +  accomodations[i].properties.city + '</br>' + accomodations[i].properties.numRooms + '</br>' + '<a href="/viewproperty?propID=' + accomodations[i]._id +' "> More info </a>' +'</div>';

                                var marker = new google.maps.Marker({
                                    position: point,
                                    map: map
                                });

                                var infowindow = new google.maps.InfoWindow();

                                google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 

                                        return function() {
                                           infowindow.setContent(content);
                                           infowindow.open(map,marker);
                                        };
                                    })(marker,content,infowindow)); 




                            }

                            google.maps.event.addListener(map, 'click', function( event ){
                                var userLat = event.latLng.lat();
                                var userLong = event.latLng.lng();

                                document.getElementById('latitude').value = userLat;
                                document.getElementById('longitude').value = userLong;
                            });

                            

                            var marker;

                            function placeMarker(location) {
                              if ( marker ) {
                                marker.setPosition(location);
                              } else {
                                marker = new google.maps.Marker({
                                  position: location,
                                  map: map,
                                });
                              }
                            }

                            google.maps.event.addListener(map, 'click', function(event) {
                              placeMarker(event.latLng);
                            });


                        };




                        





                        // map.data.addListener('click', function(event) {
                        //     var myHTML = event.feature.getProperty('_id') + "</br>" + event.feature.getProperty('addressL1') + "</br>" + event.feature.getProperty('addressL2') + "</br>" + event.feature.getProperty('city') + "</br>" + event.feature.getProperty('county') + "</br>" + event.feature.getProperty('postcode') + "</br>" + event.feature.getProperty('createdAt') + "</br> " + event.feature.getProperty('$oid') + "<a href='/viewproperty'>More info...</a>";


                            // document.getElementById('info-box').innerHTML = myHTML;
                        
                        //map.data.addGeoJson('C:\Program Files\MongoDB\Server\3.6\bin\accomodations2.js');



                    </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKt1JynmQnjE6niCiisa0zXlmWXcGRg-w&callback=initMap">
                </script>

                <div class="col-sm-6">
                    <h3>Add new property to system</h3>
                    <form action="/addProperty" method="post">

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="addressL1" id="addressL1" class="form-control" placeholder="Address Line 1" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="addressL2" id="addressL2" class="form-control" placeholder="Address Line 2">
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="city" id="city" class="form-control" placeholder="City" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="county" id="county" class="form-control" placeholder="County" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="postcode" id="postcode" class="form-control" placeholder="Postcode" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-6">
                                <input type="text" name="latitude" id="latitude" class="form-control" placeholder="latitude" hidden required>
                            </div>
        
                            <div class="col-sm-6">
                                <input type="text" name="longitude" id="longitude" class="form-control" placeholder="longitude" hidden required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <textarea name="description" id="description" class="form-control" placeholder="Property description" rows="5" required> </textarea>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="number" name="numRooms" id="numRooms" class="form-control" placeholder="Number of rooms" required>
                            </div>
                        </div>
                        <p>Key Features</p>
                        <div class="row form-group input_group">

                            <div class="col-sm-3">
                                <input type="checkbox" name="internetIncluded" id="internetIncluded" value="internetIncluded"> Internet Included?<br>
                            </div>
                            <div class="col-sm-3">
                                <input type="checkbox" name="tvLicenseIncluded" id="tvLicenseIncluded" value="tvLicenseIncluded"> TV License Included?<br>
                            </div>
                            <div class="col-sm-3">
                                <input type="checkbox" name="cleanerIncluded" id="cleanerIncluded" value="cleanerIncluded"> Cleaner Included?<br>
                            </div>
                            <div class="col-sm-3">
                                <input type="checkbox" name="loungeIncluded" id="loungeIncluded" value="loungeIncluded"> Lounge Included?<br>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-3">
                                <input type="checkbox" name="parkingIncluded" id="parkingIncluded" value="parkingIncluded"> Parking Included?<br>
                            </div>
                            <div class="col-sm-3">
                                <input type="checkbox" name="secureLocksIncluded" id="secureLocksIncluded" value="secureLocksIncluded"> Secure Locks Included?<br>
                            </div>
                            <div class="col-sm-3">
                                <input type="checkbox" name="bathIncluded" id="bathIncluded" value="bathIncluded"> bath Included?<br>
                            </div>
                        </div>
                        <p>Please remember to click/tap on the map to add a marker.</p>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <input type="submit" name="addproperty" id="addproperty" class="form-control btn btn-primary" value="Add property">
                            </div>
                        </div>
                    </form>
<p id="latitude"></p>
<p id="longitude"></p>

                </div>


        </div>
    </div>




    </div>
</body>
<script>

</script>
</html>