<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <title>Student Housing Finder - Add new property</title>

    <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map {
            height: 30em;
            width:150em;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Student Housing Finder - Add new Property</h1>
        <h3>Welcome <%= user.firstName %></h3><%= user.email %> <a href="/logout"> logout</a> 
    </div>

    <div class="container text-center">
        <div class="row">

                <!--<h3 style="font-size: 3vw;" data-toggle="tooltip" title="This is your current balance."><a href="/increase">Student Accommodation Finder</a></h3> -->
                <div id="map" class="col-sm-6"> </div>
                    <script type="text/javascript">
                      var map;

                      // var contentString = event.feature.getProperty('_id') + "</br>" + event.feature.getProperty('addressL1') + "</br>" + event.feature.getProperty('addressL2') + "</br>" + event.feature.getProperty('city') + "</br>" + event.feature.getProperty('county') + "</br>" + event.feature.getProperty('postcode') + "</br>" + event.feature.getProperty('createdAt') + "</br> " + event.feature.getProperty('$oid') + "<a href='/viewproperty'>More info...</a>";

                      function initMap() {
                        //console.log(user);
                        map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 14,
                          center: new google.maps.LatLng(50.374657,-4.142385),
                          mapTypeId: 'roadmap'
                          });
                        addMarkers(map);
                        };


                        function addMarkers(map){

                            var accomodations = <%-JSON.stringify(accomodation)%>




                            for (i = 0; i < accomodations.length; i++) { 
                                //console.log(accomodations[i]);
                                var houseLoc = {lat: accomodations[i].geometry.coordinates[0], lng: accomodations[i].geometry.coordinates[1]};
                                var point = new google.maps.LatLng(houseLoc.lng, houseLoc.lat);

                                console.log(houseLoc);

                                var content = '<div id="content">' + accomodations[i].properties.addressL1 + '</br>' + accomodations[i]._id + '</br>' +  accomodations[i].properties.city + '</br>' + accomodations[i].properties.numRooms + '</br>' + '<a href="/viewproperty?propID=' + accomodations[i]._id +' "> More info </a>' +'</div>';

                                var marker = new google.maps.Marker({
                                    position: point,
                                    map: map
                                });

                                var infowindow = new google.maps.InfoWindow();

                                google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                                        return function() {
                                           infowindow.setContent(content);
                                           infowindow.open(map,marker);
                                        };
                                    })(marker,content,infowindow)); 




                            }

                            google.maps.event.addListener(map, 'click', function( event ){
                                var userLat = event.latLng.lat();
                                var userLong = event.latLng.lng();

                                document.getElementById('latitude').value = userLat;
                                document.getElementById('longitude').value = userLong;
                            });


                        };




                        





                        // map.data.addListener('click', function(event) {
                        //     var myHTML = event.feature.getProperty('_id') + "</br>" + event.feature.getProperty('addressL1') + "</br>" + event.feature.getProperty('addressL2') + "</br>" + event.feature.getProperty('city') + "</br>" + event.feature.getProperty('county') + "</br>" + event.feature.getProperty('postcode') + "</br>" + event.feature.getProperty('createdAt') + "</br> " + event.feature.getProperty('$oid') + "<a href='/viewproperty'>More info...</a>";


                            // document.getElementById('info-box').innerHTML = myHTML;
                        
                        //map.data.addGeoJson('C:\Program Files\MongoDB\Server\3.6\bin\accomodations2.js');



                    </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKt1JynmQnjE6niCiisa0zXlmWXcGRg-w&callback=initMap">
                </script>

                <div class="col-sm-6">
                    <h3>Add new property</h3>
                    <form action="/addProperty" method="post">

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="addressL1" id="addressL1" class="form-control" placeholder="Address Line 1" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="addressL2" id="addressL2" class="form-control" placeholder="Address Line 2">
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="city" id="city" class="form-control" placeholder="City" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="county" id="county" class="form-control" placeholder="County" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="text" name="postcode" id="postcode" class="form-control" placeholder="Postcode" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-6">
                                <input type="text" name="latitude" id="latitude" class="form-control" placeholder="latitude" >
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-6">
                                <input type="text" name="longitude" id="longitude" class="form-control" placeholder="longitude" >
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <textarea name="description" id="description" class="form-control" placeholder="Property description" rows="5" required> </textarea>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="number" name="numRooms" id="numRooms" class="form-control" placeholder="Number of rooms" required>
                            </div>
                        </div>

                        <div class="row form-group input_group">
                            <div class="col-sm-12">
                                <input type="checkbox" name="internetIncluded" id="internetIncluded" value="internetIncluded"> Internet Included<br>
                            </div>
                        </div>



                        <div class="row form-group">
                            <div class="col-sm-12">
                                <input type="submit" name="addproperty" id="addproperty" class="form-control btn btn-primary" value="Add property">
                            </div>
                        </div>
                    </form>
<p id="latitude"></p>
<p id="longitude"></p>

                </div>


        </div>
    </div>
    <div class="container text-center">

    <p>You are logged in as: <%= user.firstName %><br>
    <a href="/edit">Click here to change</a> - <a href="/propertylist">View property list</a></p>



    </div>



    </div>
</body>
<script>

</script>
</html>