<!DOCTYPE html>
<html lang="en">
<head>

<title>UniRooms</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

 <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 

<style>
.jumbotron{

  background-image: url("/images/jumbotronbg.png");
  background-size: cover;
}
</style>
</head>

<body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #1daa76 !important;">
                                  <a class="navbar-brand" href="#"><img src="/images/unirooms.jpg" height=30 width=100></a>
                                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                  </button>
                                  <div class="collapse navbar-collapse" id="navbarText">
                                    <ul class="navbar-nav mr-auto">
                                      <li class="nav-item ">


                                    </ul>
                                    <span class="navbar-text">
                                      
                                       <a href="/login">Login </a>
                                       
                                       <a href="/signup">Sign up</a>
                                    </span>
                                  </div>
                                </nav>
  <div class="jumbotron text-center">
    <!--<img src="/images/jumbotronbg.png" height=auto width=auto>-->
    <h1 style="color:#1daa76"><img src="/images/unirooms.jpg" height=210 width=700></h1>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>What are we?</h3>
      <p>The hunt for somewhere to live as a student is a tedious and time consuming task... Until now.</p>
      <p>Try out the application made for students.</p> 

    </div>
    <div class="col-sm-4">
      <h3>Existing user?</h3>
      <p>If you are an existing user, you can sign in below.</p>
      <p><a href="/exisitinguser"> Already got an account? Sign in</a></p>
    </div>
    <div class="col-sm-4">
      <h3>New user?</h3>        
      <p>If you are a new user, you can sign up for an account below.</p>
      <p><a href="/newuser"> Need an account? Sign up here</a></p>
    </div>
  </div>
</div>



</body>
</html>