<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->


	 <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 

	<title>UniRooms - Dashboard</title>

	<style>
	      /* Always set the map height explicitly to define the size of the div
	       * element that contains the map. */
	      #map {
	        height: 92vh;
	        width:100%;
	      }
	      /* Optional: Makes the sample page fill the window. */
	      html, body {
	        height: 100%;
	        margin: 0;
	        padding: 0;
	        overflow-y: hidden;
	        overflow-x: hidden;
	      }

	      .container-fluid {
	        width: 100%;
	        padding-right: 0px !important;
	        padding-left: 0px !important;
	        margin-right: auto;
	        margin-left: auto;
	      }
	    </style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #1daa76 !important;">
	  <a class="navbar-brand" href="#"><img src="/images/unirooms.jpg" height=30 width=100></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item ">
	      	    	  <a class="nav-link" href="/profile">Home <span class="sr-only">(current)</span></a>
	      	    	</li>
	      	    	<li class="nav-item">
	      	    	  <a class="nav-link" href="/propertylist">View Properties</a>
	      	    	</li>
	      	    	<li class="nav-item">
	      	    	  <a class="nav-link" href="/favourites">My Favourites</a>
	      	    	</li>
	      	    	<li class="nav-item dropdown">
	      	    	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      	    	          Support tickets
	      	    	        </a>
	      	    	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      	    	          <a class="dropdown-item" href="/newticket">Add new ticket</a>
	      	    	          <a class="dropdown-item" href="/mysupporttickets">View my tickets</a>
	      	    	      </li>

	      	    	<% if(user.role== "admin"){ %>
	      	    	<li class="nav-item dropdown">
	      	    	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      	    	          Admin options
	      	    	        </a>
	      	    	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      	    	          <a class="dropdown-item" href="/addProperty">Add Property</a>
	      	    	          <a class="dropdown-item" href="/userlist">View Users</a>
	      	    	          <a class="dropdown-item" href="/allsupporttickets">View all support tickets</a>
	      	    	          
	      	    	          <div class="dropdown-divider"></div>
	      	    	          <a class="dropdown-item" href="/newpoi">Add new POI</a>
	      	    	          <a class="dropdown-item" href="/viewallpoi">View all POI</a>
	      	    	        </div>
	      	    	      </li>
	      	    	      <% } %>

	    </ul>
	    <span class="navbar-text">
	        <% if(user.role== "admin"){ %>
	            <b style="color:#aa3f3f">ADMIN</b>
	        <% } %>

	      <b>Welcome <%= user.firstName %></b>, <%= user.email %> <a href="/logout">logout </a>
	    </span>
	  </div>
	</nav>


	<div class="container-fluid text-center">
		<div class="row">
		<div class="col-sm-12">

				<!--<h3 style="font-size: 3vw;" data-toggle="tooltip" title="This is your current balance."><a href="/increase">Student Accommodation Finder</a></h3> -->
				<div id="map" ></div>
				</div>
<!-- 				<div class="col-sm-2">
					<h5>Property Information</h5>
					<div id="info-box">Please select a property (marker) from the map.</div>
				</div>
 -->

					<script type="text/javascript">
					  var map;

					  // var contentString = event.feature.getProperty('_id') + "</br>" + event.feature.getProperty('addressL1') + "</br>" + event.feature.getProperty('addressL2') + "</br>" + event.feature.getProperty('city') + "</br>" + event.feature.getProperty('county') + "</br>" + event.feature.getProperty('postcode') + "</br>" + event.feature.getProperty('createdAt') + "</br> " + event.feature.getProperty('$oid') + "<a href='/viewproperty'>More info...</a>";

					  function initMap() {
					  	//console.log(user);
					    map = new google.maps.Map(document.getElementById('map'), {
					      zoom: 14,
					      center: new google.maps.LatLng(50.374657,-4.142385),
					      mapTypeId: 'roadmap',
					      mapTypeControl: true,
					       mapTypeControlOptions: {
					         style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
					         mapTypeIds: ['roadmap', 'terrain']
					       }

						  });
					    addMarkers(map);
						};


					    function addMarkers(map){

					    	var accomodations = <%-JSON.stringify(accomodation)%>

					    	for (i = 0; i < accomodations.length; i++) { 

					    	    //console.log(accomodations[i]);
					    	    var houseLoc = {lat: accomodations[i].geometry.coordinates[0], lng: accomodations[i].geometry.coordinates[1]};
					    	    var point = new google.maps.LatLng(houseLoc.lng, houseLoc.lat);

					    	    console.log(houseLoc);

					    	    var content = '<div id="content">' + "<b> Address Line 1: </b>" + accomodations[i].properties.addressL1 + '</br>' + "<b> Property ID: </b>" + accomodations[i]._id + '</br>' + "<b> City: </b>" + accomodations[i].properties.city + '</br>' + "<b> Number of Rooms: </b>" + accomodations[i].properties.numRooms + '</br>' + '<a href="/viewproperty?propID=' + accomodations[i]._id +' "> <b> More info </b></a>' +'</div>';

					    	    var marker = new google.maps.Marker({
					    	    	position: point,
					    	    	map: map,
					    	    	animation: google.maps.Animation.DROP,
					    	    });


					    	    var infowindow = new google.maps.InfoWindow();
					    	    var prev_infowindow = false; 
					    	    google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
					    	            return function() {
					    	               infowindow.setContent(content);
					    	               infowindow.open(map,marker);
					    	            };
					    	        })(marker,content,infowindow));
					    	        infowindow.close(); 						    	    
					    	}
				    	};




					    





					    // map.data.addListener('click', function(event) {
					    //     var myHTML = event.feature.getProperty('_id') + "</br>" + event.feature.getProperty('addressL1') + "</br>" + event.feature.getProperty('addressL2') + "</br>" + event.feature.getProperty('city') + "</br>" + event.feature.getProperty('county') + "</br>" + event.feature.getProperty('postcode') + "</br>" + event.feature.getProperty('createdAt') + "</br> " + event.feature.getProperty('$oid') + "<a href='/viewproperty'>More info...</a>";


					        // document.getElementById('info-box').innerHTML = myHTML;
					    
					    //map.data.addGeoJson('C:\Program Files\MongoDB\Server\3.6\bin\accomodations2.js');



					</script>
				<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKt1JynmQnjE6niCiisa0zXlmWXcGRg-w&callback=initMap">
				</script>


		</div>
	</div>


	</div>
	</body>
	<script>
var role = req.body.user.role;

	if (role == "admin")
	{
		$("#addProperty").show();
	}
	</script>
</html>